.supermap-cesium-legend-container{
    position: absolute;
    background-color: rgb(255, 255, 255);
    padding: 5px;
    border-radius: 2px;
    box-shadow: 0px 0px 0px #eff0f1;
}

.supermap-cesium-legend-container .legend-header {
    color: black;
    font-size: 20px;
    font-family: "微软雅黑";
}
.supermap-cesium-legend-container .legend-footer {
  margin-bottom: 10px;
}
.legend-header .legend-header-content {
    margin-top: 5px;
    margin-left: 10px;
}
.legend-content {
    color: black;
    font-size: 12px;
    font-family: "微软雅黑";
    margin-top: 5px;
    margin-left: 10px;
    min-width: 200px;
    min-height: 100px;
    max-width: 300px;
    max-height: 300px;
    overflow: auto;
}
.legend-content .single-legend-bar{
  margin-top: 5px;
}
.legend-content .single-legend-sym{

}
.legend-content .single-legend-name{
    margin-left: 10px;
}
.legend-content .legend-content-title {
    color: black;
    font-size: 16px;
    font-family: "微软雅黑";
    margin-top: 10px;
}

.legend-content::-webkit-scrollbar {
    width: 5px;
    height: 0px;
}
.legend-content::-webkit-scrollbar-thumb {
    border-radius: 5px;
    -webkit-box-shadow: inset 0 0 5px rgba(15, 15, 15, 0.2);
    background: #a7a5a5;
}
.legend-content::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 5px rgba(235, 235, 235, 0.2);
    border-radius: 10px;
    background: #ecebeb;
}